<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5c39e">  <td>21/02/14 10:52:11</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUp()[pri:0, instance:TestClasses.LoginTest@7d0587f1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>21/02/14 10:52:18</td>   <td>6821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyInValidLogin()[pri:0, instance:TestClasses.LoginTest@7d0587f1]">verifyInValidLogin</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>21/02/14 10:52:19</td>   <td>7596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:TestClasses.LoginTest@7d0587f1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>21/02/14 10:52:19</td>   <td>8243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyValidLogin()[pri:0, instance:TestClasses.LoginTest@7d0587f1]">verifyValidLogin</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>21/02/14 10:52:19</td>   <td>8250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:TestClasses.LoginTest@7d0587f1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@712256162</td>   <td></td> </tr>
</table>
